USE [ACCIDENTEXCHANGE_UpdatedDB]
GO
/****** Object:  User [aimcsql01]    Script Date: 14-Nov-25 3:42:32 PM ******/
CREATE USER [aimcsql01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [aimcsqlteam01]    Script Date: 14-Nov-25 3:42:32 PM ******/
CREATE USER [aimcsqlteam01] FOR LOGIN [aimcsqlteam01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [cropenaiuser]    Script Date: 14-Nov-25 3:42:32 PM ******/
CREATE USER [cropenaiuser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AzureSearchCred]    Script Date: 14-Nov-25 3:42:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzureSearchCred](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_endpoint] [nvarchar](255) NULL,
	[endpoint_key] [nvarchar](255) NULL,
	[indexname] [nvarchar](255) NULL,
	[status] [int] NULL,
	[MI_ClientID] [varchar](255) NULL,
	[MI_ResourceID] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExceptionLogger]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExceptionLogger](
	[ExceptionID] [int] IDENTITY(1,1) NOT NULL,
	[ExceptionMessage] [nvarchar](max) NULL,
	[ExceptionType] [nvarchar](255) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[Source] [nvarchar](255) NULL,
	[DateOccurred] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExceptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModelDetails]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EndPoint] [nvarchar](255) NOT NULL,
	[DeploymentName] [nvarchar](255) NOT NULL,
	[ApiVersion] [nvarchar](50) NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
	[Size] [nvarchar](50) NOT NULL,
	[Status] [int] NOT NULL,
	[DefaultType] [int] NOT NULL,
	[MI_ClientID] [varchar](255) NULL,
	[MI_ResourceID] [varchar](255) NULL,
	[ApiKey] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Streaming]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streaming](
	[id] [int] NOT NULL,
	[Track_Number] [nvarchar](50) NULL,
	[Prompt] [nvarchar](max) NULL,
	[Logs] [nvarchar](max) NULL,
	[Created_at] [datetime] NULL,
	[Status] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suggestions]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suggestions](
	[ID] [float] NULL,
	[Question] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemInstructions]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemInstructions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rules] [nvarchar](max) NOT NULL,
	[Industry] [nvarchar](255) NOT NULL,
	[Status] [int] NOT NULL,
	[DefaultType] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMultiService]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMultiService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Endpoint] [nvarchar](255) NOT NULL,
	[ApiKey] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToolTraining]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToolTraining](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SQLTool] [nvarchar](max) NULL,
	[AzureTool] [nvarchar](max) NULL,
	[status] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainModel]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainModel](
	[Id] [float] NULL,
	[Question] [nvarchar](255) NULL,
	[SQLQuery] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetTableAndPrompt]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTableAndPrompt]                
AS                
BEGIN            
        SELECT name, NULL AS ROLE, NULL AS [RULES & COLUMN DETAILS]              
        FROM sys.tables              
        WHERE name NOT IN ('TrainModel', 'Suggestions', 'Streaming', 'ModelDetails', 'SystemInstructions', 'ModelFineTuneData', 'BlobFileData', 'UserInformation','ExceptionLogger', 'SystemInstructionsLog', 'Sizes', 'ModelNames', 'AzureSearchCred', 'ToolTraining', 'New_Suggestions')              
              
        UNION ALL              
              
        SELECT name, NULL AS ROLE, NULL AS [RULES & COLUMN DETAILS]              
        FROM sys.views              
              
        UNION ALL              
              
        SELECT                 
            'System_Message_Config' AS name,                 
            [Industry] as  ROLE,                 
            [Rules] as [RULES & COLUMN DETAILS]                
        FROM [SystemInstructions];              
END  
GO
/****** Object:  StoredProcedure [dbo].[InsertExceptionLog]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertExceptionLog]        
    @exception_message nvarchar(max),        
    @exception_type nvarchar(max),        
    @stack_trace nvarchar(max),        
    @source NVARCHAR(MAX)        
AS        
BEGIN        
BEGIN TRAN        
begin try            
    INSERT INTO ExceptionLogger (ExceptionMessage, ExceptionType, StackTrace, Source)        
    VALUES (@exception_message, @exception_type, @stack_trace, @source);           
COMMIT TRAN        
end try        
begin catch        
ROLLBACK TRAN        
select null        
end catch         
END; 
GO
/****** Object:  StoredProcedure [dbo].[InsertStreamingRecord]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[InsertStreamingRecord]    
    @Track_Number nvarchar(50),    
    @Prompt nvarchar(max),    
    @Logs nvarchar(max),    
    @Status tinyint    
AS    
BEGIN    
BEGIN TRAN    
begin try    
DELETE from Streaming where  Created_at < DATEADD(hour, -1, GETDATE());  
    DECLARE @next_id int;    
    -- Find the next id for the given Track_Number    
    SELECT @next_id = ISNULL(MAX(id), 0) + 1    
    FROM dbo.Streaming  with(nolock)  
    WHERE Track_Number = @Track_Number;    
    -- Insert the new record with the calculated id    
    INSERT INTO dbo.Streaming (id, Track_Number, Prompt, Logs, Created_at, Status)    
    VALUES (@next_id, @Track_Number, @Prompt, @Logs, GETDATE(), @Status);    
    -- Return the new id    
    SELECT @next_id AS id;    
COMMIT TRAN    
end try    
begin catch    
ROLLBACK TRAN    
select null    
end catch     
END; 
GO
/****** Object:  StoredProcedure [dbo].[Proc_AiAssessmentscore]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Proc_AiAssessmentscore]-- 'demo@unifycloud.com'
@username varchar(50)  
as     
begin    
select type,
case 
when (Select count(PeformanceId) value from PerformanceMatrixCheckers where username = @username) = 0 
then 0 else ROUND((CAST(Value AS FLOAT) / 
CAST((Select count(PeformanceId) value from PerformanceMatrixCheckers where username = @username) AS FLOAT)) * 100, 2) end as score from (
Select 'Hallucination' type,count(PeformanceId) value from PerformanceMatrixCheckers where Hallucination = 1 and username = @username
union all
Select 'Plagiarism' type,count(PeformanceId) value from PerformanceMatrixCheckers where Plagiarism = 1 and username = @username
union all
Select 'PromptInjection' type,count(PeformanceId) value from PerformanceMatrixCheckers where PromptInjection = 1 and username = @username
union all
Select 'Hate' type,count(PeformanceId) value from PerformanceMatrixCheckers where (HateSeverity = 2 or HateSeverity = 4 or HateSeverity = 6) and username = @username
union all
Select 'SelfHarm' type,count(PeformanceId) value from PerformanceMatrixCheckers where (SelfHarmSeverity = 2 or SelfHarmSeverity = 4 or SelfHarmSeverity = 6) and username = @username
union all
Select 'Sexual' type,count(PeformanceId) value from PerformanceMatrixCheckers where (SexualSeverity = 2 or SexualSeverity = 4 or SexualSeverity = 6) and username = @username
union all
Select 'Violence' type,count(PeformanceId) value from PerformanceMatrixCheckers where (ViolenceSeverity = 2 or ViolenceSeverity = 4 or ViolenceSeverity = 6) and username = @username
)z    
end
GO
/****** Object:  StoredProcedure [dbo].[sp_dashboarddetails]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


                    CREATE PROCEDURE [dbo].[sp_dashboarddetails]
                    @userid INT
                    AS
                    BEGIN
                        SELECT s.FileType, COUNT(*) AS uploaded
                        FROM [SourceFileDetail] s
                        WHERE s.isDeleted = 0
                        GROUP BY s.FileType;
                    END
GO
/****** Object:  StoredProcedure [dbo].[sp_dashboarddetailsNew]    Script Date: 14-Nov-25 3:42:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_dashboarddetailsNew]
    @userid INT
AS
BEGIN
    SELECT 
        RIGHT(FileName, CHARINDEX('.', REVERSE(FileName)) - 1) AS FileType, 
        COUNT(*) AS Uploaded
    FROM [ACCIDENTEXCHANGENew].[dbo].[DocDetails]
    WHERE IsDeleted = 0
    GROUP BY RIGHT(FileName, CHARINDEX('.', REVERSE(FileName)) - 1);
END
GO
